@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

:root {
  --color1: #8f4d07;
  --color2: #f5edd9;
  --color3: #e2821a;
  --color4: #409a8c;
  --color5: #305953;
  --color6: #f8ecce;

  font-family: 'Nunito Sans', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--color4);
}

#grid {
	width: 100%;
	height: 100%;
	background-color: var(--color4);
	display: grid;
	grid-template-rows: 2fr 17fr 1fr;
	grid-template-columns: 1fr 5fr;
	gap: 2vmin;
	padding: 2vmin;
	text-align: center;
  	color: var(--color5);
}

h1 {
	font-size: 4.9vmin;
}

h2 {
	font-size: 2.7vmin;
}

h3 {
	font-size: 2.5vmin;
}

h5 {
	font-size: 2vmin;
}

#header {
  grid-area: 1 / 2 / 2 / 3;
}

#sidebar {
  grid-area: 1 / 1 / 4 / 2;
	display: flex;
	flex-direction: column;
	gap: 4vh;
}

#sidebar ul {
	display: flex;
	flex-direction: column;
	gap: 3vh;
}

#main {
  grid-area: 2 / 2 / 3 / 3;
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  gap: 2vmin;
}

#footer {
  grid-area: 3 / 2 / 4 / 3;
}

#header, #footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
  background-color: var(--color2);
  border-radius: 1vmin;
  padding: 2vmin;
}

.project {
	background-color: var(--color6);
	border-radius: 1.1vmin;
	box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	padding: 1vmin;
}

.imgClass {
	width: 20vmin;
	height: auto;
	border-radius: 3vmin;
	border: 4px double var(--color5);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#main a {
	font-size: 2.4vmin;
	color: var(--color1);
}

#main a:visited {
	color: var(--color3);
}

#main a:active, #main a:hover {
	color: var(--color4);
}

a {
	font-size: 2.3vmin;
	color: var(--color5);
}

a:visited {
	color: var(--color4);
}

a:active, a:hover {
	color: var(--color3);
}

#mainPages {
	grid-area: 2 / 2 / 3 / 3;
}

.projectPages {
	background-color: var(--color6);
	border-radius: 1.1vmin;
	box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
	width: 100%;
	height: 100%;
	padding: 2vmin;
	display: grid;
	grid-template-rows: 1fr 2fr;
	gap: 2vmin;
}

.projectPages form, #decodedContainer {
	border: 4px double var(--color3);
	border-radius: 1vmin;
	padding: 1vmin;
	box-shadow: rgba(245, 175, 63, 0.35) 0px 0px 13px;
}

.projectPages form {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	font-size: 2.2vmin;
	gap: 1vh;
}

fieldset {
	border: none;
}

input {
	width: 90%;
	padding: 1vmin;
	text-align: center;
	color: var(--color1);
	font-size: 2vmin;
}

#decodedContainer {
	display: grid;
	grid-template-rows: 1fr 10fr;
}

results {
	border: 1px solid var(--color1);
	background-color: var(--color2);
	border-radius: 1vmin;
	padding: 1vmin;
}
